*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Verdana, Georgia, "Times New Roman", serif;
  font-size: 15px;
  color: #262626;
  background: #eee;
  line-height: 1.5; }

.main {
  margin-top: 0em;
  max-width: 1000px;
  min-width: 400px;
  background: #fafafa;
  padding: 1em 1em; }
  @media screen and (min-width: 800px) {
    .main {
      width: 100%;
      margin: 0em auto 2em;
      padding: 0em 4em; } }

#foot {
  margin-top: 1em;
  max-width: 1000px; }
  @media screen and (min-width: 800px) {
    #foot {
      width: 88.8%;
      margin: 1em auto 2em; } }

#foot p, #foot a {
  color: #cecece;
}

#foot a:hover {
  color: #595959;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Georgia, "Times New Roman", serif;
  font-weight: normal;
  color: #007ade;
  text-align: center;
  margin-top: 0; }

h1 {
  font-size: 2.5em;
  margin-bottom: 0em; }
  * + h1 {
    margin-top: 0.0em; } /* doesn't do anything? */

h1 > a:visited {
  color: #007ade; }

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }
  * + h2 {
    margin-top: 2em; }

h3 {
  font-size: 1.2em;
  margin-bottom: 0.7em; }
  * + h3 {
    margin-top: 0.6em; }

h4 {
  font-size: 0.8em;
  margin-bottom: 0.0em;
}
  * + h4 {
    margin-top: 0.0em;
  }

.h4link, .btnWK {
  font-family: Verdana, Georgia, "Times New Roman", serif;
  font-weight: normal;
  color: #024277;
  text-align: center;
  margin-top: 0;
  text-decoration: none;
}

.h4link:hover, .btnWK:hover {
  color: rgb(6, 108, 190);
}

.btnWKNonWKKanji {
  color: rgb(220, 234, 245);
}

.btnResultKanjiWK {
  text-transform: lowercase;
}

.smallLabel {
  font-size: 0.8em;
}

p {
  line-height: 2em;
  color: #024277; /*changed*/
  margin-top: 0;
  margin-bottom: 0em; } /*changed*/

li {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1em; }

.expandedKanjiInfo {
  margin-left: 1em;
  display: none;
}

.hoverPointer:hover {
  cursor: pointer;
}

/*#22a8e6;*/
.expandButton {
  color: #22a8e6;
  text-decoration: none;
  opacity: 0.4;
}

.expandButton.expanded {
  opacity: 1.0;
  color: #9b3732;
}

.expandButton:hover {
  cursor: pointer;
  color: #9b3732;
  opacity: 1.0;
}

a:not(.h4link):not(.btnWK):not(.btnWKNonWKKanji):not(.expandButton):not(.btn-blue):not(.a-blue) {
  color: #9b3732;
  text-decoration: none; }

a:visited:not(.h4link):not(.btnWK):not(.btnWKNonWKKanji):not(.btn-blue):not(.a-blue) {
  color: #262626; }

a:hover:not(.h4link):not(.btnWK):not(.expandButton):not(.btn-blue) {
  color: #d8281e; }

a:focus {
  color: #000000;
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0;
  cursor: pointer; }

.a-blue {
  color: #308cbc;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
  border-style: solid !important;
  border-width: 2px !important; }

.btn.title {
  font-weight: 700; }

.btn:visited {
  color: #ffffff; }

.btn:hover,
.btn.disable,
.btn.disable:visited,
.btn.disable:hover {
  color: #222222;
  background-color: #ffffff; }

.btn-green {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #5cb85c; }

.btn-green:visited {
  color: #ffffff; }

.btn-green:hover,
.btn-green.disable,
.btn-green.disable:visited,
.btn-green.disable:hover {
  color: #5cb85c;
  background-color: #ffffff; }

.btn-orange {
  color: #ffffff;
  background-color: #dd8338;
  border-color: #dd8338; }

.btn-orange:visited {
  color: #ffffff; }

.btn-orange:hover,
.btn-orange.disable,
.btn-orange.disable:visited,
.btn-orange.disable:hover {
  color: #dd8338;
  background-color: #ffffff; }

.btn-red {
  color: #ffffff;
  background-color: #c64537;
  border-color: #c64537; }

.btn-red:visited {
  color: #ffffff; }

.btn-red:hover,
.btn-red.disable,
.btn-red.disable:visited,
.btn-red.disable:hover {
  color: #c64537;
  background-color: #ffffff; }

.btn-blue {
  color: #ffffff;
  background-color: #308cbc;
  border-color: #308cbc; }

.btn-blue:visited {
  color: #ffffff; }

.btn-blue:hover,
.btn-blue.disable,
.btn-blue.disable:visited,
.btn-blue.disable:hover {
  color: #308cbc;
  background-color: #ffffff; }

.btnClip {
  border-radius: 4px;
  outline: none !important;
  box-shadow: none !important;
}

.btnClipLastSelected {
  /* border: 4px solid #00FF00;*/
  border: 2px solid blue;
}

/* search box italic placeholder text. All 4 following styles are necessary. */
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

.pagination {
  margin: 1em auto 0em;
  text-align: center; }

.pagination ul {
  display: inline;
  margin-right: 10px;
  margin-left: 10px; }

.pagination li {
  padding-right: 4px;
  padding-left: 4px; }

.pagination .current-page {
  font-weight: 700; }

.inline-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none; }

.inline-list li {
  display: inline;
  list-style-type: none; }

small {
  font-size: 75%;
  color: #bababa; }

hr {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  border: 0;
  border-top: 1px solid #bababa; }

article {
  list-style: none;
  margin-top: 0px; }

.stroke {
  float: left;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 3em;
  margin-bottom: 3em; }

blockquote {
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid #e2e2e2; }

table {
  margin: 0em 0em 0.0em;
  border-spacing: 0px 0;
  /*align: center;*/ /* this should be text-align: center if anything, but actually looks worse on the few kanji pages that use tables*/
}

th, td {
  padding-bottom: 0.0em;
  overflow: auto;
  border: 1px solid #eee;
  padding-right: 4px;
}

.trHeader {
  font-style: italic;
}

td div {
  resize: none;
  width: auto;
  min-width: 50px;
  max-width: 100px;
  overflow: auto;
  display: block;
  padding-right: 0.2em;
}

/* for tables: <td><div> */
.longDiv {
  max-width: 250px;
}

.lastDiv {
  max-width: 600px;
}

.frequencyHeader {
  max-width: 200px;
}

tr:nth-child(even){background-color: #f5f5f5;}
tr:hover {background-color: #eee;}

.footnotes {
  border-top: 1px solid #bababa;
  font-size: 0.7em;
  margin-top: 3em; }

.left-arrow {
  float: left; }

.right-arrow {
  float: right; }

/* Search box in index */
#search-box {
  margin: 0em;
  text-align: center; }

#search-query {
  height: 2rem; }

#search-button {
  height: 2rem; }

#search-results {
  margin: 1em; }

/* Code highlight */
h1 code,
h2 code,
h3 code,
p code,
pre code,
li code,
td code {
  color: #A52A2A;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Courier, "Courier New", "Sans Serif"; }

pre {
  border-radius: 2px;
  margin-bottom: 1.5em;
  position: relative;
  padding: 0.7em;
  overflow-x: auto;
  overflow-y: auto;
  background: #EFE9C3; }

pre code:not(.language-r) {
  color: #000000;
  font-weight: unset; }

.hll {
  background-color: #ffffcc; }

.c1 {
  color: #408080;
  font-style: italic;
  font-weight: unset; }

.logbox {
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
  overflow: auto;
  margin-bottom: 1em;
}

.logbox.expand {
  height: 200px;
}

.logbox.expandInfobox {
  height: 100px; /* infobox needs less height */
}
